* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #fff;
}
.header {
    font-size: 32px;
    background-color: blueviolet;
    text-align: center;
    font-weight: bold;
    padding: 20px 30px;
    border-bottom: 3px solid yellow;
    color:#fff;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 30px;
}
.gallery img {
    width: 100%;
    height: 300px;
    max-width: 350px;
    object-fit: cover;
    border-radius: 16px;
}
.gallery::after {
    content: "";
    width: 350px;
}

